**Variables Instrumentales - Mínimos Cuadrados en 2 Estapas**

In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.api as sms

In [2]:
!pip install linearmodels

Requirement already satisfied: linearmodels in c:\users\57317\anaconda3\lib\site-packages (4.22)
Requirement already satisfied: pyhdfe>=0.1 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (0.1.0)
Requirement already satisfied: pandas>=0.24 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (1.1.3)
Requirement already satisfied: Cython>=0.29.21 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (0.29.21)
Requirement already satisfied: mypy-extensions>=0.4 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: numpy>=1.16 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (1.20.1)
Requirement already satisfied: patsy in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (0.5.1)

In [3]:
data = pd.read_csv("C:/Users/57317/Desktop/Universidad Nacional/Programación/Python/Curso Econometría básica con Python/Bases de datos/MROZ.csv")

Requirement already satisfied: property-cached>=1.6.3 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (1.6.4)
Requirement already satisfied: statsmodels>=0.11 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (0.12.0)
Requirement already satisfied: scipy>=1.2 in c:\users\57317\anaconda3\lib\site-packages (from linearmodels) (1.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\57317\anaconda3\lib\site-packages (from pandas>=0.24->linearmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\57317\anaconda3\lib\site-packages (from pandas>=0.24->linearmodels) (2020.1)
Requirement already satisfied: six in c:\users\57317\anaconda3\lib\site-packages (from patsy->linearmodels) (1.15.0)

In [4]:
data.head()

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,16310,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,21800,0.6615,7,7,11.0,1,5,19.499981,0.328512,25
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,21040,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,7300,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,27300,0.6215,12,14,9.5,1,7,20.100060,1.524272,49

In [5]:
data.isna()

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
749,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
750,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
751,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
752,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [6]:
data.isna().sum()

inlf          0
hours         0
kidslt6       0
kidsge6       0
age           0
educ          0
wage        325
repwage       0
hushrs        0
husage        0
huseduc       0
huswage       0
faminc        0
mtr           0
motheduc      0
fatheduc      0
unem          0
city          0
exper         0
nwifeinc      0
lwage       325
expersq       0
dtype: int64

In [7]:
data = data[data["wage"].notna()]
data.isna().sum()

inlf        0
hours       0
kidslt6     0
kidsge6     0
age         0
educ        0
wage        0
repwage     0
hushrs      0
husage      0
huseduc     0
huswage     0
faminc      0
mtr         0
motheduc    0
fatheduc    0
unem        0
city        0
exper       0
nwifeinc    0
lwage       0
expersq     0
dtype: int64

**Proceso Manual**

In [8]:
Y1 = data["lwage"]
Y2 = data["educ"] 
X = data[["exper","expersq"]]
Z = data[["motheduc","fatheduc"]]

**Primera Etapa**

In [9]:
Frames = [X , Z]
RegresorasPE = pd.concat(Frames, axis =1)

In [10]:
RegresorasPE

     exper  expersq  motheduc  fatheduc
0       14      196        12         7
1        5       25         7         7
2       15      225        12         7
3        6       36         7         7
4        7       49        12        14
..     ...      ...       ...       ...
423      2        4         7         7
424     21      441         7         7
425     22      484         7         7
426     14      196        12        16
427      7       49        12        12

[428 rows x 4 columns]

In [11]:
PrimeraEtapa = sm.OLS(Y2, sm.add_constant(RegresorasPE))

In [12]:
ResultadosPE = PrimeraEtapa.fit()
print(ResultadosPE.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   educ   R-squared:                       0.211
Model:                            OLS   Adj. R-squared:                  0.204
Method:                 Least Squares   F-statistic:                     28.36
Date:                Mon, 19 Apr 2021   Prob (F-statistic):           6.87e-21
Time:                        17:48:43   Log-Likelihood:                -909.72
No. Observations:                 428   AIC:                             1829.
Df Residuals:                     423   BIC:                             1850.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.1026      0.427     21.340      0.000       8.264       9.941
exper          0.0452      0.040      1.124      0.262      -0.034       0.124
expersq       -0.0010      0.001     -0.839      0.402      -0.003       0.001
motheduc       0.1576      0.036      4.391      0.000       0.087       0.228
fatheduc       0.1895      0.034      5.615      0.000       0.123       0.256
==============================================================================
Omnibus:                       10.903   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               20.371
Skew:                          -0.013   Prob(JB):                     3.77e-05
Kurtosis:                       4.068   Cond. No.                     1.55e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
hipotesis = "(fatheduc = 0), (motheduc = 0)"
Prueba_F = ResultadosPE.f_test(hipotesis) # Evalúa la hipótesis
print(Prueba_F)

<F test: F=array([[55.40030043]]), p=4.268908724630835e-22, df_denom=423, df_num=2>

In [14]:
Estadistico = Prueba_F.statistic[0].item(0)

In [15]:
pvalue = Prueba_F.pvalue.item(0)

In [16]:
Nombres = ["Estadístico","pvalue"]
pd.Series([Estadistico, round(pvalue,4)], index = Nombres)

Estadístico    55.4003
pvalue          0.0000
dtype: float64

In [17]:
data["Predicción_educ"]= ResultadosPE.predict()

In [18]:
data.head()

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq,Predicción_educ
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,0.7215,12,7,5.0,0,14,10.910060,1.210154,196,12.756017
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,0.6615,7,7,11.0,1,5,19.499981,0.328512,25,11.733558
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,0.6915,12,7,5.0,0,15,12.039910,1.514138,225,12.771979
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,0.7815,7,7,5.0,0,6,6.799996,0.092123,36,11.767683
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,0.6215,12,14,9.5,1,7,20.100060,1.524272,49,13.914615

**Segunda Etapa**

In [19]:
Y1SE = data["lwage"] 
Y2SE = data["Predicción_educ"] 
XSE = data[["exper","expersq"]]

In [20]:
FrameSegEtapa = [XSE,Y2SE]
RegresorasSegEtapa = pd.concat(FrameSegEtapa, axis = 1)

In [21]:
SegundaEtapa = sm.OLS(Y1SE,sm.add_constant(RegresorasSegEtapa))
ResultadosSegEtapa = SegundaEtapa.fit()
print(ResultadosSegEtapa.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     7.405
Date:                Mon, 19 Apr 2021   Prob (F-statistic):           7.62e-05
Time:                        17:48:43   Log-Likelihood:                -457.17
No. Observations:                 428   AIC:                             922.3
Df Residuals:                     424   BIC:                             938.6
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0481      0.420      0.115      0.909      -0.777       0.873
exper               0.0442      0.014      3.136      0.002       0.016       0.072
expersq            -0.0009      0.000     -2.134      0.033      -0.002   -7.11e-05
Predicción_educ     0.0614      0.033      1.863      0.063      -0.003       0.126
==============================================================================
Omnibus:                       53.587   Durbin-Watson:                   1.959
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              168.354
Skew:                          -0.551   Prob(JB):                     2.77e-37
Kurtosis:                       5.868   Cond. No.                     4.41e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.41e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

**Proceso Automático**

In [22]:
from linearmodels.iv import IV2SLS

ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject

In [ ]:
Modelo2Etapas = IV2SLS(dependent= ____, exog = _________, endog= _____, instruments= _____)
ResultadosMod2Etapas = Modelo2Etapas.fit()
print(ResultadosMod2Etapas.summary)

**Con errores robustos**

In [ ]:
FramesMCO = [_____ , ______]
RegresorasMCO = pd.concat(_______, axis = ____)

In [ ]:
ModeloMCO = sm.OLS(___, sm.add_constant(___________))
ResultadosMCO = ModeloMCO.fit(cov_type = "___") 
print(ResultadosMCO.summary())

**Comparar Modelo**

In [ ]:
from linearmodels.iv import compare # Extraer esa función

In [ ]:
# ESTÁ FALLANDO
compare({"MCO": ______________ , "2 Etapas" : _____________})

In [ ]:
ResultadoMCO = IV2SLS(dependent= ____, exog= sm.add_constant(__________), endog = ____, instruments = ____).fit()
print(ResultadosMCO.summary())

In [ ]:
ResultadosAutomático = IV2SLS(dependent= ____, exog= sm.add_constant(_____), endog= _____, instruments= ____).fit()
print(ResultadosAutomático.summary)

In [ ]:
ResultadosManual= IV2SLS(dependent=_____, exog=sm.add_constant(_______),endog=___, instruments=____).fit()
print(ResultadosManual)

In [ ]:
compare({"MCO": _______ , "2 Etapas Manual": ________, "2 Etapas Automático":________})