### Datos Panel

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import linearmodels as lm

In [ ]:
!pip install linearmodels

In [ ]:
data = pd.read_csv("/content/Wooldridge14.csv")

In [ ]:
data.head()

,nr,year,black,exper,hisp,hours,married,occ1,occ2,occ3,...,union,lwage,d81,d82,d83,d84,d85,d86,d87,expersq
0,13,1980,0,1,0,2672,0,0,0,0,...,0,1.197540,0,0,0,0,0,0,0,1
1,13,1981,0,2,0,2320,0,0,0,0,...,1,1.853060,1,0,0,0,0,0,0,4
2,13,1982,0,3,0,2940,0,0,0,0,...,0,1.344462,0,1,0,0,0,0,0,9
3,13,1983,0,4,0,2960,0,0,0,0,...,0,1.433213,0,0,1,0,0,0,0,16
4,13,1984,0,5,0,3071,0,0,0,0,...,0,1.568125,0,0,0,1,0,0,0,25

In [ ]:
panel_data = data.set_index(["nr","year"])
panel_data

            black  exper  hisp  hours  married  occ1  occ2  occ3  occ4  occ5  \
nr    year
13    1980      0      1     0   2672        0     0     0     0     0     0
      1981      0      2     0   2320        0     0     0     0     0     0
      1982      0      3     0   2940        0     0     0     0     0     0
      1983      0      4     0   2960        0     0     0     0     0     0
      1984      0      5     0   3071        0     0     0     0     0     1
...           ...    ...   ...    ...      ...   ...   ...   ...   ...   ...
12548 1983      0      8     0   2080        1     0     0     0     0     1
      1984      0      9     0   2080        1     0     0     0     0     1
      1985      0     10     0   2080        1     0     0     0     0     1
      1986      0     11     0   2080        1     0     0     0     0     1
      1987      0     12     0   3380        1     0     0     0     0     1

            ...  union     lwage  d81  d82  d83  d84  d85  d86  d87  expersq
nr    year  ...
13    1980  ...      0  1.197540    0    0    0    0    0    0    0        1
      1981  ...      1  1.853060    1    0    0    0    0    0    0        4
      1982  ...      0  1.344462    0    1    0    0    0    0    0        9
      1983  ...      0  1.433213    0    0    1    0    0    0    0       16
      1984  ...      0  1.568125    0    0    0    1    0    0    0       25
...         ...    ...       ...  ...  ...  ...  ...  ...  ...  ...      ...
12548 1983  ...      0  1.591879    0    0    1    0    0    0    0       64
      1984  ...      1  1.212543    0    0    0    1    0    0    0       81
      1985  ...      0  1.765962    0    0    0    0    1    0    0      100
      1986  ...      1  1.745894    0    0    0    0    0    1    0      121
      1987  ...      1  1.466543    0    0    0    0    0    0    1      144

[4360 rows x 25 columns]

**MCO Agrupadas**

In [ ]:
Y = panel_data["lwage"]
X = panel_data[["educ","black","hisp","exper","expersq","married","union","d81","d82","d83","d84","d85","d86","d87"]]

In [ ]:
MCO_agrupados = lm.PooledOLS(Y,sm.add_constant(X))
resultados_MCO = MCO_agrupados.fit()
print(resultados_MCO.summary)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1893
Estimator:                  PooledOLS   R-squared (Between):              0.2066
No. Observations:                4360   R-squared (Within):               0.1692
Date:                Tue, Jul 05 2022   R-squared (Overall):              0.1893
Time:                        16:29:04   Log-likelihood                   -2982.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      72.459
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(14,4345)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             72.459
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(14,4345)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.0921     0.0783     1.1761     0.2396     -0.0614      0.2455
educ           0.0913     0.0052     17.442     0.0000      0.0811      0.1016
black         -0.1392     0.0236    -5.9049     0.0000     -0.1855     -0.0930
hisp           0.0160     0.0208     0.7703     0.4412     -0.0248      0.0568
exper          0.0672     0.0137     4.9095     0.0000      0.0404      0.0941
expersq       -0.0024     0.0008    -2.9413     0.0033     -0.0040     -0.0008
married        0.1083     0.0157     6.8997     0.0000      0.0775      0.1390
union          0.1825     0.0172     10.635     0.0000      0.1488      0.2161
d81            0.0583     0.0304     1.9214     0.0548     -0.0012      0.1178
d82            0.0628     0.0332     1.8900     0.0588     -0.0023      0.1279
d83            0.0620     0.0367     1.6915     0.0908     -0.0099      0.1339
d84            0.0905     0.0401     2.2566     0.0241      0.0119      0.1691
d85            0.1092     0.0434     2.5200     0.0118      0.0243      0.1942
d86            0.1420     0.0464     3.0580     0.0022      0.0509      0.2330
d87            0.1738     0.0494     3.5165     0.0004      0.0769      0.2707
==============================================================================

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  # put in order ctt

**Between**

In [ ]:
modelo_between = lm.BetweenOLS(Y, sm.add_constant(panel_data[["educ","exper","expersq","married","union"]]))
resultados_between = modelo_between.fit()
print(resultados_between.summary)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  # put in order ctt

                         BetweenOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.2069
Estimator:                 BetweenOLS   R-squared (Between):              0.2069
No. Observations:                 545   R-squared (Within):               0.0291
Date:                Tue, Jul 05 2022   R-squared (Overall):              0.1247
Time:                        16:39:58   Log-likelihood                   -197.50
Cov. Estimator:            Unadjusted
                                        F-statistic:                      28.131
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                   F(5,539)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             28.131
                                        P-value                           0.0000
Time periods:                       8   Distribution:                   F(5,539)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.5249     0.2191     2.3960     0.0169      0.0945      0.9552
educ           0.0938     0.0109     8.6384     0.0000      0.0724      0.1151
exper         -0.0608     0.0504    -1.2073     0.2279     -0.1598      0.0381
expersq        0.0056     0.0032     1.7389     0.0826     -0.0007      0.0119
married        0.1675     0.0406     4.1256     0.0000      0.0877      0.2472
union          0.2523     0.0463     5.4544     0.0000      0.1614      0.3432
==============================================================================

**Efectos Fijos Within**

In [ ]:
efectos_fijos = lm.PanelOLS(Y, sm.add_constant(panel_data[["educ","black","hisp","expersq","married",
                                          "union","d81","d82","d83","d84","d85","d86","d87"]]),
                   entity_effects= True,
                    drop_absorbed= True)
resultados_ef = efectos_fijos.fit()
print(resultados_ef.summary)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  # put in order ctt
/usr/local/lib/python3.7/dist-packages/linearmodels/panel/model.py:1833: AbsorbingEffectWarning:
Variables have been fully absorbed and have removed from the regression:

educ, black, hisp

  AbsorbingEffectWarning,

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:                   PanelOLS   R-squared (Between):             -0.0052
No. Observations:                4360   R-squared (Within):               0.1806
Date:                Tue, Jul 05 2022   R-squared (Overall):              0.0807
Time:                        16:44:52   Log-likelihood                   -1324.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      83.851
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(10,3805)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             83.851
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(10,3805)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          1.4260     0.0183     77.748     0.0000      1.3901      1.4620
expersq       -0.0052     0.0007    -7.3612     0.0000     -0.0066     -0.0038
married        0.0467     0.0183     2.5494     0.0108      0.0108      0.0826
union          0.0800     0.0193     4.1430     0.0000      0.0421      0.1179
d81            0.1512     0.0219     6.8883     0.0000      0.1082      0.1942
d82            0.2530     0.0244     10.360     0.0000      0.2051      0.3008
d83            0.3544     0.0292     12.121     0.0000      0.2971      0.4118
d84            0.4901     0.0362     13.529     0.0000      0.4191      0.5611
d85            0.6175     0.0452     13.648     0.0000      0.5288      0.7062
d86            0.7655     0.0561     13.638     0.0000      0.6555      0.8755
d87            0.9250     0.0688     13.450     0.0000      0.7902      1.0599
==============================================================================

F-test for Poolability: 9.1568
P-value: 0.0000
Distribution: F(544,3805)

Included effects: Entity

**Efectos Aleatorios**

In [ ]:
efectos_aleatorios = lm.RandomEffects(Y,sm.add_constant(X))
resultados_ea = efectos_aleatorios.fit()
print(resultados_ea.summary)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  # put in order ctt

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:              RandomEffects   R-squared (Between):              0.1853
No. Observations:                4360   R-squared (Within):               0.1799
Date:                Tue, Jul 05 2022   R-squared (Overall):              0.1828
Time:                        16:48:50   Log-likelihood                   -1622.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      68.409
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(14,4345)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             68.409
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(14,4345)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.0234     0.1514     0.1546     0.8771     -0.2735      0.3203
educ           0.0919     0.0107     8.5744     0.0000      0.0709      0.1129
black         -0.1394     0.0480    -2.9054     0.0037     -0.2334     -0.0453
hisp           0.0217     0.0428     0.5078     0.6116     -0.0622      0.1057
exper          0.1058     0.0154     6.8706     0.0000      0.0756      0.1361
expersq       -0.0047     0.0007    -6.8623     0.0000     -0.0061     -0.0034
married        0.0638     0.0168     3.8035     0.0001      0.0309      0.0967
union          0.1059     0.0179     5.9289     0.0000      0.0709      0.1409
d81            0.0404     0.0247     1.6362     0.1019     -0.0080      0.0889
d82            0.0309     0.0324     0.9519     0.3412     -0.0327      0.0944
d83            0.0202     0.0417     0.4840     0.6284     -0.0616      0.1020
d84            0.0430     0.0515     0.8350     0.4037     -0.0580      0.1440
d85            0.0577     0.0615     0.9383     0.3482     -0.0629      0.1782
d86            0.0918     0.0716     1.2834     0.1994     -0.0485      0.2321
d87            0.1348     0.0817     1.6504     0.0989     -0.0253      0.2950
==============================================================================

**Primeras Diferencias**

In [ ]:
primeras_diferencias = lm.FirstDifferenceOLS(Y,panel_data[["exper","expersq","union","married"]])
resultados_pd = primeras_diferencias.fit()
print(resultados_pd.summary)

                     FirstDifferenceOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.0268
Estimator:         FirstDifferenceOLS   R-squared (Between):              0.5491
No. Observations:                3815   R-squared (Within):               0.1763
Date:                Tue, Jul 05 2022   R-squared (Overall):              0.5328
Time:                        16:52:48   Log-likelihood                   -2305.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      26.208
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                  F(4,3811)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             26.208
                                        P-value                           0.0000
Time periods:                       8   Distribution:                  F(4,3811)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
exper          0.1158     0.0196     5.9096     0.0000      0.0773      0.1542
expersq       -0.0039     0.0014    -2.8005     0.0051     -0.0066     -0.0012
union          0.0428     0.0197     2.1767     0.0296      0.0042      0.0813
married        0.0381     0.0229     1.6633     0.0963     -0.0068      0.0831
==============================================================================

In [ ]:
from linearmodels.panel import compare

In [ ]:
print(compare({"MCO Agrupados":resultados_MCO,"Between":resultados_between,"Efectos Fijos":
        resultados_ef, "Efectos Aleatorios":resultados_ea , "Primeras Diferencias":resultados_pd}, 
              precision= "std_errors", stars=True))

                                               Model Comparison
==============================================================================================================
                         MCO Agrupados        Between  Efectos Fijos Efectos Aleatorios   Primeras Diferencias
--------------------------------------------------------------------------------------------------------------
Dep. Variable                    lwage          lwage          lwage              lwage                  lwage
Estimator                    PooledOLS     BetweenOLS       PanelOLS      RandomEffects     FirstDifferenceOLS
No. Observations                  4360            545           4360               4360                   3815
Cov. Est.                   Unadjusted     Unadjusted     Unadjusted         Unadjusted             Unadjusted
R-squared                       0.1893         0.2069         0.1806             0.1806                 0.0268
R-Squared (Within)              0.1692         0.0291         0.1806             0.1799                 0.1763
R-Squared (Between)             0.2066         0.2069        -0.0052             0.1853                 0.5491
R-Squared (Overall)             0.1893         0.1247         0.0807             0.1828                 0.5328
F-statistic                     72.459         28.131         83.851             68.409                 26.208
P-value (F-stat)                0.0000         0.0000         0.0000             0.0000                 0.0000
=====================     ============   ============   ============    ===============   ====================
const                           0.0921       0.5249**      1.4260***             0.0234
                              (0.0783)       (0.2191)       (0.0183)           (0.1514)
educ                         0.0913***      0.0938***                         0.0919***
                              (0.0052)       (0.0109)                          (0.0107)
black                       -0.1392***                                       -0.1394***
                              (0.0236)                                         (0.0480)
hisp                            0.0160                                           0.0217
                              (0.0208)                                         (0.0428)
exper                        0.0672***        -0.0608                         0.1058***              0.1158***
                              (0.0137)       (0.0504)                          (0.0154)               (0.0196)
expersq                     -0.0024***        0.0056*     -0.0052***         -0.0047***             -0.0039***
                              (0.0008)       (0.0032)       (0.0007)           (0.0007)               (0.0014)
married                      0.1083***      0.1675***       0.0467**          0.0638***                0.0381*
                              (0.0157)       (0.0406)       (0.0183)           (0.0168)               (0.0229)
union                        0.1825***      0.2523***      0.0800***          0.1059***               0.0428**
                              (0.0172)       (0.0463)       (0.0193)           (0.0179)               (0.0197)
d81                            0.0583*                     0.1512***             0.0404
                              (0.0304)                      (0.0219)           (0.0247)
d82                            0.0628*                     0.2530***             0.0309
                              (0.0332)                      (0.0244)           (0.0324)
d83                            0.0620*                     0.3544***             0.0202
                              (0.0367)                      (0.0292)           (0.0417)
d84                           0.0905**                     0.4901***             0.0430
                              (0.0401)                      (0.0362)           (0.0515)
d85                           0.1092**                     0.6175***             0.0577
                              (0.0434)                      (0.0452)           (0.0615)
d86                          0.1420***                     0.7655***             0.0918
                              (0.0464)                      (0.0561)           (0.0716)
d87                          0.1738***                     0.9250***            0.1348*
                              (0.0494)                      (0.0688)           (0.0817)
======================= ============== ============== ==============  ================= ======================
Effects                                                       Entity
--------------------------------------------------------------------------------------------------------------

Std. Errors reported in parentheses

**Ejercicio en Clase**

Encuentre todos los modelos vistos en la clase para datos panel, empleando la base de datos únicamente con aquellas personas que sean casadas y de etnia negra.